{% extends "account/base.html" %}
{% load widget_tweaks %}
{% load static %}
{%block navigation%}
				<!-- Profile navigation -->
				<div class="navbar navbar-expand-lg border-bottom py-2">
					<div class="container-fluid">
						<ul class="nav navbar-nav flex-row flex-fill">
							<li class="nav-item me-1">
								<a href="{% url 'home'  %}" class="navbar-nav-link navbar-nav-link-icon active rounded" >
									<div class="d-flex align-items-center mx-lg-1">
										<i class="ph-activity"></i>
										<span class="d-none d-lg-inline-block ms-2">Home</span>
									</div>
								</a>
							</li>
							<li class="nav-item me-1">
								<a href="{% url 'counter'  %}" class="navbar-nav-link navbar-nav-link-icon rounded" >
									<div class="d-flex align-items-center mx-lg-1">
										<i class="ph-calendar"></i>
										<span class=" d-lg-inline-block ms-2">
											Counter
											<span class="badge bg-success rounded-pill ms-auto ms-lg-2">32</span>
										</span>
									</div>
								</a>
							</li>
							<li class="nav-item me-1">
								<a href="#schedule" class="navbar-nav-link navbar-nav-link-icon rounded" data-bs-toggle="tab">
									<div class="d-flex align-items-center mx-lg-1">
										<i class="ph-calendar"></i>
										<span class=" d-lg-inline-block ms-2">
											Tables
											<span class="badge bg-success rounded-pill ms-auto ms-lg-2">32</span>
										</span>
									</div>
								</a>
							</li>
							<li class="nav-item me-1">
								<a href="#schedule" class="navbar-nav-link navbar-nav-link-icon rounded" data-bs-toggle="tab">
									<div class="d-flex align-items-center mx-lg-1">
										<i class="ph-calendar"></i>
										<span class=" d-lg-inline-block ms-2">
											Menu
											<span class="badge bg-success rounded-pill ms-auto ms-lg-2">32</span>
										</span>
									</div>
								</a>
							</li>
							<li class="nav-item me-1">
								<a href="#schedule" class="navbar-nav-link navbar-nav-link-icon rounded" data-bs-toggle="tab">
									<div class="d-flex align-items-center mx-lg-1">
										<i class="ph-calendar"></i>
										<span class=" d-lg-inline-block ms-2">
											Rooms
											<span class="badge bg-success rounded-pill ms-auto ms-lg-2">32</span>
										</span>
									</div>
								</a>
							</li>
							<li class="nav-item me-1">
								<a href="#schedule" class="navbar-nav-link navbar-nav-link-icon rounded" data-bs-toggle="tab">
									<div class="d-flex align-items-center mx-lg-1">
										<i class="ph-calendar"></i>
										<span class=" d-lg-inline-block ms-2">
											Other Services
											<span class="badge bg-success rounded-pill ms-auto ms-lg-2">32</span>
										</span>
									</div>
								</a>
							</li>
							<li class="nav-item me-1">
								<a href="#schedule" class="navbar-nav-link navbar-nav-link-icon rounded" data-bs-toggle="tab">
									<div class="d-flex align-items-center mx-lg-1">
										<i class="ph-calendar"></i>
										<span class=" d-lg-inline-block ms-2">
											Reviews
											<span class="badge bg-success rounded-pill ms-auto ms-lg-2">32</span>
										</span>
									</div>
								</a>
							</li>
							
							
							<li class="nav-item me-1">
								<a href="{% url 'editprofile'  %}" class="navbar-nav-link navbar-nav-link-icon rounded" >
									<div class="d-flex align-items-center mx-lg-1">
										<i class="ph-gear"></i>
										<span class="    d-lg-inline-block ms-2">Edit Profile</span>
									</div>
								</a>
							</li>

							
						</ul>

						
					</div>
				</div>
				<!-- /profile navigation -->
			
			{%endblock%}

{% block content%}
<div class="row row-cols-sm-4 mb-sm-4">
			
{%for business in businesses%}

	
						<div class="col-sm">
							<div class="card h-sm-100 mb-sm-0">
								<img class="card-img-top img-fluid" {% if business.business.profile_image%}src="{{business.business.profile_image.url}}" {%endif%} alt="">

								<div class="card-body">
									<h5 class="card-title">{{business.business.business_name}}</h5>
									<p class="card-text">{{business.business.about_business}}</p>
								</div>

								<div class="card-footer d-flex justify-content-center">
								{%if business.id == assoc.id %}
									 <div>
									
													<button onclick="Switch_business({{business.id}})" type="button" class="btn btn-flat-success btn-sm rounded-pill">
														<i class="ph-at ph-sm me-2"></i>
														On 		
													</button>
										
									</div>
									
											   {%else%}
											   	   <div>
                                    <button onclick="Switch_business({{business.id}})" type="button" class="btn btn-flat-danger btn-sm rounded-pill">
                                        <i class="ph-at ph-sm me-2"></i>
                                        Off 
                                    </button>
                                </div>
											   
											   {%endif%}
									 
								</div>
							</div>
						</div>


						
					
{%endfor%}
</div>
{% endblock %}


{% block javascript %}
<script>

let Switch_business = (id) => {

	assoc = id
	
	fetch("{% url 'activatebusiness' %}",
		{
		method:'POST',
		credentials:'same-origin',
		headers:{
			'Content-Type':'application/json',
			'X-CSRFToken':'{{csrf_token}}',
		},
		body:JSON.stringify(assoc)
		}
	).then(e =>e.json()).then(messages =>{
	
		for(message of messages){
			if (message.message == 'success'){
				
				window.location.reload();
			}else{
			alert(message.message)
			
			}
		}
	});
}





</script>
{% endblock javascript %} 