{% extends "account/base.html" %}
{% load widget_tweaks %}
{% load static %}


{% block content%}
					<div class=" card mb-3 pt-2">
						<h6 class="mb-0 mx-2">Public Communities</h6>
						<span class="text-muted mx-2">Remember some communities are kept private, i have to put here create community link</span>
					</div>
	<!-- Inner container -->
						<div class="row">
						{% if allpublicassocs %}
						
							{%for assoc in allpublicassocs%}
						<div class="col-xl-3 col-lg-6">
							<div class="card card-body">
								<div class="d-flex">
									<div class="flex-fill">
										<div class="fw-semibold">{{assoc.name}}</div>
										<span class="text-muted">{{assoc.slogan}}</span>
									</div>

									<a href="#" class="ms-3">
										<img src="{{assoc.profile_image.url}}" class="rounded-circle" width="44" height="44" alt="">
									</a>
								</div>
								<div class="d-flex">
									<div class="flex-fill">
										<div>
										{%if myassocs%}
						
						{% for myassoc in myassocs%}
						
						{% if assoc.id == myassoc.myassociation.id%}
					<button type="button"  class="btn btn-success btn-sm p-0 my-1">Joined</button>
							<style>			  
						#group{{assoc.id}}{
						display:none;
						}
						</style>
						{%else%}
						
						{%endif%}
						
						{% endfor %}
						
						{% endif %}
                                    <button id ="group{{assoc.id}}" type="button" class="btn btn-info btn-sm rounded-pill p-0 my-1">
                                        <i class="ph-at ph-sm me-2"></i>
                                        Join us
                                    </button>
                                </div>
										
									</div>

									<div class="d-flex my-1">
											<a href="#" class="link-pink mx-1" data-bs-popup="tooltip" title="Website">
												<i class="ph-dribbble-logo"></i>
											</a>
											<a href="#" class="link-info mx-1" data-bs-popup="tooltip" title="Facebook">
												<i class="ph-facebook-logo"></i>
											</a>
											<a href="#" class="link-info mx-2" data-bs-popup="tooltip" title="Tiktok">
												<i class="ph-tiktok-logo"></i>
											</a>
											<a href="#" class="link-indigo" data-bs-popup="tooltip" title="Linkedin">
												<i class="ph-linkedin-logo"></i>
											</a>
										</div>
								</div>
								
							</div>
						</div>
{%endfor%}
{%endif%}
				
					</div>

					<!-- /inner container -->
				

{% endblock %}